.logo{
    display: block;
    margin:auto;
    width:50px;
    height:50px;
}
body{
    background-image: linear-gradient(rgb(137, 241, 184),rgb(64, 227, 137));
}
.container{
    max-width: 955px;
    background-color: rgb(6, 127, 63);
    margin: auto;
    height: 60vh;  
    padding: 33px;
    overflow-y: scroll;
    margin-bottom: 23px;
}
.message{
    background-color: gray;
    width: 24%;
    padding: 10px;
    margin: 17px 12px;
    border:2px solid black;
    border-radius: 10px;
    color: black;
}
.left{
    float:left;
    clear:both;
}
.right{
    float: right;
    clear:both;
}
body{
    height: 100vh;
    background-image: linear-gradient(rgb(255,255,255),rgb(170, 225, 185));
}

#send-container{
   text-align: center;
   display: block;
   margin:auto;

}
#messageInp{
    width:69%;
    border: 2px solid black;
    border-radius: 6px;
    height: 34px;
}

.btn{
    cursor: pointer;
    border: 2px solid black;
    height: 34px;
    border-radius: 3px;
}










